@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Nerko One', cursive;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}
.boton
{
	background-color: black;
	color: white;
	border: null;

}
img
{
	border-radius: 70px;
	margin-left: 35px;
	border:solid 1px;
	border-color: gray;
	width: 800px;
	height: 700px;
}